In [1]:
import pandas as pd

#merged_data = pd.read_csv('team_project_2/data/processed/merged_data.csv')
#immigration_data = pd.read_csv('team_project_2/data/processed/immigration_combined_monthly_year_data.csv')
#cpi_data = pd.read_csv('team_project_2/data/processed/Cleaned_CPI.csv')

merged_data = pd.read_csv('../data/processed/merged_data.csv')
immigration_data = pd.read_csv('../data/processed/immigration_combined_monthly_year_data.csv')
cpi_data = pd.read_csv('../data/processed/Cleaned_CPI.csv')
gdp_data = pd.read_csv('../data/processed/Cleaned_GDP.csv')
business_data = pd.read_csv('../data/processed/Transposed_Business.csv')

In [2]:
merged_data.head()

  Province_x Month-Year  Unemployment Rate Minimum Wage
0     Canada   Jan-1976                7.1        $2.60
1     Canada   Feb-1976                7.0        $2.60
2     Canada   Mar-1976                6.7        $2.60
3     Canada   Apr-1976                6.8        $2.90
4     Canada   May-1976                6.9        $2.90

In [3]:
immigration_data.head()

  Month-Year  Total Value
0   Jan-2015        18690
1   Feb-2015        21055
2   Mar-2015        29955
3   Apr-2015        33580
4   May-2015        32975

In [4]:
cpi_data.head()

  Month-Year  All-items CPI Province
0    1960-01           15.5   Canada
1    1960-02           15.5   Canada
2    1960-03           15.4   Canada
3    1960-04           15.5   Canada
4    1960-05           15.5   Canada

In [5]:
business_data.head()

,Province,Business dynamics measure,Active businesses,Opening businesses,Closing businesses
0,Canada,15-Jan,869922.0,42433.0,36132.0
1,Canada,15-Feb,871974.0,42586.0,36658.0
2,Canada,15-Mar,874370.0,38927.0,36089.0
3,Canada,15-Apr,874937.0,40082.0,39125.0
4,Canada,15-May,877609.0,40868.0,36576.0

In [6]:
gdp_data.head()

   Month-Year All industries GDP Province
0  1997-01-01          1,204,015   Canada
1  1997-02-01          1,211,631   Canada
2  1997-03-01          1,211,507   Canada
3  1997-04-01          1,219,735   Canada
4  1997-05-01          1,224,088   Canada

In [8]:
# Add "province" column to immigration_data
immigration_data['Province'] = 'Canada'
immigration_data.rename(columns={'Total Value': 'Immigration Num'}, inplace=True)
merged_data.rename(columns={'Province_x': 'Province'}, inplace=True)
business_data.rename(columns={'Business dynamics measure': 'Month-Year'}, inplace=True)


# Standardize the date formats
merged_data['Month-Year'] = pd.to_datetime(merged_data['Month-Year'], format='%b-%Y')
immigration_data['Month-Year'] = pd.to_datetime(immigration_data['Month-Year'], format='%b-%Y')
cpi_data['Month-Year'] = pd.to_datetime(cpi_data['Month-Year'], format='%Y-%m')
business_data['Month-Year'] = pd.to_datetime(business_data['Month-Year'], format='%y-%b')
gdp_data['Month-Year'] = pd.to_datetime(gdp_data['Month-Year'].str.strip(), format='%Y-%m-%d')

# Convert 'Month-Year' to a common string format
merged_data['Month-Year'] = merged_data['Month-Year'].dt.strftime('%b-%Y')
immigration_data['Month-Year'] = immigration_data['Month-Year'].dt.strftime('%b-%Y')
cpi_data['Month-Year'] = cpi_data['Month-Year'].dt.strftime('%b-%Y')
business_data['Month-Year'] = business_data['Month-Year'].dt.strftime('%b-%Y')
gdp_data['Month-Year'] = gdp_data['Month-Year'].dt.strftime('%b-%Y')


# Print column names to verify
print("Merged Data Columns:", merged_data.columns)
print("Immigration Data Columns:", immigration_data.columns)
print("CPI Data Columns:", cpi_data.columns)
print("GDP Data Columns:", gdp_data.columns)
print("Business Data Columns:", business_data.columns)

Merged Data Columns: Index(['Province', 'Month-Year', 'Unemployment Rate', 'Minimum Wage'], dtype='object')
Immigration Data Columns: Index(['Month-Year', 'Immigration Num', 'Province'], dtype='object')
CPI Data Columns: Index(['Month-Year', 'All-items CPI', 'Province'], dtype='object')
GDP Data Columns: Index(['Month-Year', 'All industries GDP', 'Province'], dtype='object')
Business Data Columns: Index(['Province', 'Month-Year', 'Active businesses', 'Opening businesses',
       'Closing businesses'],
      dtype='object')

In [9]:
combined_data = pd.merge(merged_data, immigration_data, on=['Province', 'Month-Year'], how='left')
combined_data = pd.merge(combined_data, cpi_data, on=['Province', 'Month-Year'], how='left')
combined_data = pd.merge(combined_data, gdp_data, on=['Province', 'Month-Year'], how='left')
final_combined_data = pd.merge(combined_data, business_data, on=['Province', 'Month-Year'], how='left')

In [ ]:
final_combined_data.head(10)

,Province,Month-Year,Unemployment Rate,Minimum Wage,Immigration Num,All-items CPI,All industries GDP,Active businesses,Opening businesses,Closing businesses
0,Canada,Jan-1976,7.1,$2.60,NaN,30.3,NaN,NaN,NaN,NaN
1,Canada,Feb-1976,7.0,$2.60,NaN,30.5,NaN,NaN,NaN,NaN
2,Canada,Mar-1976,6.7,$2.60,NaN,30.6,NaN,NaN,NaN,NaN
3,Canada,Apr-1976,6.8,$2.90,NaN,30.7,NaN,NaN,NaN,NaN
4,Canada,May-1976,6.9,$2.90,NaN,30.9,NaN,NaN,NaN,NaN
5,Canada,Jun-1976,6.9,$2.90,NaN,31.1,NaN,NaN,NaN,NaN
6,Canada,Jul-1976,7.4,$2.90,NaN,31.3,NaN,NaN,NaN,NaN
7,Canada,Aug-1976,7.1,$2.90,NaN,31.3,NaN,NaN,NaN,NaN
8,Canada,Sep-1976,7.0,$2.90,NaN,31.5,NaN,NaN,NaN,NaN
9,Canada,Oct-1976,7.4,$2.90,NaN,31.7,NaN,NaN,NaN,NaN

In [ ]:
# let's check
check_date = 'Jan-2020'

result = final_combined_data[(final_combined_data['Month-Year'] == check_date) & (final_combined_data['Province'] == 'Canada')]
print("Final Combined Data Result for 2020-01:\n", result)

CPI = cpi_data.loc[(cpi_data['Month-Year'] == check_date) & (cpi_data['Province'] == 'Canada'), 'All-items CPI']
print("CPI Data for 2020-01:\n", CPI)

Imm = immigration_data.loc[immigration_data['Month-Year'] == check_date, 'Immigration Num']
print("Immigration Data for 2020-01:\n", Imm)

GDP = gdp_data.loc[(gdp_data['Month-Year'] == check_date) & (gdp_data['Province'] == 'Canada')]
print("GDP Data for 2020-01:\n", GDP)

Business = business_data.loc[(business_data['Month-Year'] == check_date) & (business_data['Province'] == 'Canada')]
print("Business Data for 2020-01:\n", Business)

Final Combined Data Result for 2020-01:
     Province Month-Year  Unemployment Rate Minimum Wage  Immigration Num  \
528   Canada   Jan-2020                5.5          NaN          32205.0

     All-items CPI All industries GDP Active businesses Opening businesses  \
528          136.8          2,114,210           904,857             41,591

    Closing businesses
528             41,569
CPI Data for 2020-01:
 720    136.8
Name: All-items CPI, dtype: float64
Immigration Data for 2020-01:
 60    32205
Name: Immigration Num, dtype: int64
GDP Data for 2020-01:
     Month-Year All industries GDP Province
276   Jan-2020          2,114,210   Canada
Business Data for 2020-01:
    Province Month-Year Active businesses Opening businesses Closing businesses
60   Canada   Jan-2020           904,857             41,591             41,569

In [ ]:
# Save the combined data to a new CSV file as draft

final_combined_data.to_csv('../data/processed/combined_withNaN.csv', index=False)

In [ ]:
# now let's work with NaN value
# for example, provincial CPI only have data after 1978

# Filter the data for Canada only and after 2015
filtered_data = final_combined_data[(final_combined_data['Province'] == 'Canada') & (final_combined_data.index >= '2015-01-01')]

# Select the relevant columns
data = filtered_data[['Unemployment Rate', 'All-items CPI', 'Immigration Num']].dropna()

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

# Define the independent variables (CPI and Immigration Num) and dependent variable (Unemployment Rate)
X = data[['All-items CPI', 'Immigration Num']]
y = data['Unemployment Rate']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the Random Forest Regressor model
rf_regressor = RandomForestRegressor(n_estimators=100, random_state=42)
rf_regressor.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_regressor.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Print the evaluation metrics
rf_results = {
    'Mean Squared Error': mse,
    'R-squared': r2
}

rf_results

{'Mean Squared Error': 0.6009515652173917, 'R-squared': 0.7005600870335132}